@font-face {
    font-family         : Museo100;
    src                 : url('../fonts/Museo100-Regular.otf') format("opentype");
}
@font-face {
    font-family         : Museo300;
    src                 : url('../fonts/Museo300-Regular.otf') format("opentype");
}
@font-face {
    font-family         : Museo300-Italic;
    src                 : url('../fonts/Museo300-Italic.otf') format("opentype");
}
@font-face {
    font-family         : Museo500;
    src                 : url('../fonts/Museo500-Regular.otf') format("opentype");
}

html, body {
    margin              : 0;
    padding             : 0;
    font-family         : Museo100;
    font-size           : 18px;
    color               : #adb5bd;
    line-height         : 200%;
    background-color    : #0b090a;
    width               : 100vw;
    max-width           : 100vw;
    overflow-x          : hidden;
}

h1 {
    font-family         : Museo500;
    font-size           : 30px;
}

h3 {
    margin      :0;
    padding     :0;
    font-family :Museo300;
    font-size   :22px;
}

h3 > .listarrow {
	color	:#e5383b;
}

a {
    color           : #b1a7a6;
}

img {
    max-width   : 480px;
}

h1 > a {
    color                   : #adb5bd;
    text-decoration         : none; 
}


h3 > span > a {
	padding					:6px 8px;
	border-radius			:6px;
    color                   :#adb5bd;
    text-decoration         :none;
	text-underline-offset	:3px;
    text-decoration-color   : #9d0208;
    -webkit-text-decoration-color   : #9d0208;
	border-radius:6px;
}

h3 > span > a:hover {
    background-color:#e5383b;
	color			:#fff;
}

small > a{
    display         : inline-flex;
    width           : 100%;
    justify-content :flex-end;
    text-align      : right;
    font-size       : 16px;
    color           : #f48c06;
    text-decoration : none;
}

small > a:hover {
    color           : #ffba08;
    background-color: #000;
}

.em {
    font-size   : 18px;
} 

footer {
    display         : inline-flex;
    justify-content : center;
    padding         : 30px 0;
    width           : 100%;
    font-family     : Museo300;
    font-size       : 18px;
    color           : #adb5bd;
}

.flex-column {
    display         : -webkit-flex;
    display         : flex;
    flex-direction  : row;
    flex-wrap       : nowrap;
    justify-content : center;
}

.ads {
    display         : -webkit-flex;
    display         : flex;
    flex-direction  : row;
    flex-wrap       : nowrap;
    justify-content : center;
    align-items     : flex-start;
    padding         : 120px 60px;
}

.home {
    flex-basis  : 60%;
}

.logo {
    padding     : 20px 0 10px;
}

.navigation {
    display         : -webkit-flex;
    display         : flex;
    flex-direction  : row;
    flex-wrap       : nowrap;
    justify-content : flex-end;
    margin          : 0 0 50px;
    padding         : 0;
    font-size       : 20px;
    border-bottom   : 1px solid #e5383b;
    height          : 38px;
}

.navigation > a {
    display         : inline-flex;
    margin          : 0;
    padding         : 0 20px;
    height          : 100%;
    color           : #d3d3d3;
    text-decoration : none;
}

.navigation > a:hover {
	color	:#fff;
	font-weight:bold;
}

.navigation > .current {
	background-color:#e5383b;
	color:#fff;
	font-weight:bold;
}

.less {
    color       : #495057;
    font-size   : 16px;
}
.pages {
    padding     : 30px 0 10px;
    font-size   : 18px;
    color       : #6c757d;
}
.pages > a {
    color           : #e5383b;
}

.pagelink {
    color       : #6c757d;
}

.line-dotted {
    margin          : 30px 0 10px;
    width           : 100%;
    height          : 1px;
    border-bottom   : 1px dashed #333;
}


ul{
	margin: 0;
	padding: 0;
}
.tag-single {
    margin:0;
    padding:0;
	display:flex;
	flex-direction:row;
}
.tag-single > ul{
	margin: 0;
	padding: 0;
}
.tag-single > ul > li{
	margin:0 6px 0 0;
	padding: 0 20px;
	line-height:26px;
    list-style-type: none;
	display:inline-flex;
    font-size: 13px;
    border: 1px solid rgba(49, 50, 57, 0.6);
	border-radius       :13px;
    text-align: center;
	background-color: rgba(49, 50, 57, 0.3);
}
.tag-single > ul > li > a {
	text-decoration : none;
	color:#adb5bd;
}
.redot {
	padding: 3px 10px;
	background-color:#e5383b;
	font-size:13px;
	color:#FFF;
	border-radius       :6px;
}

.tag {
	margin:10px;
	padding:0 20px;
	display: inline-flex;
	flex-direction: row;
	border: 1px solid rgba(49, 50, 57, 0.6);
	border-radius       :13px;
	text-align: center;
	background-color: rgba(49, 50, 57, 0.3);
}
.tag > a {
	text-decoration : none;
	color:#adb5bd;
}

.notfound {
	display: flex;
	flex-direction: column;
}
.notfound > h1 {
	font-size	:128px;
	align-self:center;
}
.notfound > h2, .notfound > h3 {
	align-self:center;
}
.gohome {
	margin: 30px 0 90px;
	padding: 6px 32px;
	background-color: #e5383b;
	color: #FFF;
	align-self:center;
	border-radius  :18px;
	text-decoration : none;
}

/******************highlight.js override*************/
.hljs {
	width               :900px;
	border-radius       :10px;
}

pre {
	background:#0b090a !important;
}
