<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}"
    dir="{{ or site.Language.LanguageDirection `ltr` }}">
{{- partial "head.html" . -}}

<body>
    <div class="mx-auto px-2 sm:px-0 max-w-7xl min-h-screen">

        <div x-data="{ openMenu: false }" class="relative">
            <nav class="flex flex-1 flex-col lg:flex-row items-center justify-between">
                <a href="/">
                    <img src="/image/logo.webp" alt="site logo" class="w-16 h-16 my-5 rounded-full cursor-pointer" />
                </a>
                <div class="hidden lg:block" :class="{'hidden': !openMenu}">
                    {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
                </div>
            </nav>
            <div class="absolute top-8 right-5 flex items-center sm:hidden">
                <!-- Mobile menu button-->
                <button @click="openMenu = !openMenu" type="button"
                    class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-800 hover:text-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
                    aria-controls="mobile-menu" aria-expanded="openMenu">
                    <span class="absolute -inset-0.5"></span>
                    <span class="sr-only">Open main menu</span>
                    <!--
              Icon when menu is closed.
  
              Menu open: "hidden", Menu closed: "block"
            -->
                    <svg x-show="!openMenu" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg>
                    <!--
              Icon when menu is open.
  
              Menu open: "block", Menu closed: "hidden"
            -->
                    <svg x-show="openMenu" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
        </div>

        {{ partial "header.html" . }}


        <div class="flex flex-col lg:flex-row overflow-hidden">
            <main class="max-w-7xl sm:w-full">
                {{ block "main" . }}{{ end }}
            </main>

            {{ partial "sidebar.html" . }}
        </div>

        {{ partial "footer.html" . }}

    </div>
</body>

</html>