<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}"
    dir="{{ or site.Language.LanguageDirection `ltr` }}">
{{- partial "head.html" . -}}

<body>
    <div class="mx-auto px-2 sm:px-0 max-w-7xl min-h-screen">

        {{ partial "nav.html" . }}

        {{ partial "header.html" . }}

        <div class="flex flex-col lg:flex-row overflow-hidden">
            <main class="max-w-7xl sm:w-full">
                {{ block "main" . }}{{ end }}
            </main>

            {{ partial "sidebar.html" . }}
        </div>

        {{ partial "footer.html" . }}

        {{ partial "cookie.html" . }}

    </div>
</body>

</html>