{{ define "main" }}

<div id="search-results"></div>
<div class="search-loading hidden text-2xl text-green-500">{{ i18n "searching" }}</div>

<script id="search-result-template" type="text/x-js-template">
  <div id="summary-${key}" class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-2 mt-3 sm:mt-6 lg:mx-0 lg:max-w-none lg:grid-cols-1 border-b border-b-gray-600/50 border-dashed pb-8">
    <h3 class="mt-5 mb-2 sm:mt-3 line-clamp-1 text-2xl font-medium leading-8 text-gray-400 hover:text-gray-100"><a href="${link}">${title}</a></h3>
    <div class="mt-1 pr-5 line-clamp-3 text-xl font-light leading-8 text-gray-500">${content}</div>
  </div>
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/6.6.2/fuse.min.js"
  integrity="sha512-Nqw1tH3mpavka9cQCc5zWWEZNfIPdOYyQFjlV1NvflEtQ0/XI6ZQ+H/D3YgJdqSUJlMLAPRj/oXlaHCFbFCjoQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/mark.min.js"
  integrity="sha512-5CYOlHXGh6QpOFA/TeTylKLWfB3ftPsde7AnmhuitiTX4K5SqCLBeKro6sPS8ilsz1Q4NRx3v8Ko2IBiszzdww=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script>

  var summaryInclude = 180;
  var fuseOptions = {
    shouldSort: true,
    includeMatches: true,
    includeScore: true,
    tokenize: true,
    location: 0,
    distance: 100,
    minMatchCharLength: 1,
    keys: [
      { name: "title", weight: 0.45 },
      { name: "contents", weight: 0.4 },
      { name: "permalink", weight: 0.15 }
    ]
  };

  // =============================
  // Search
  // =============================

  var inputBox = document.getElementById('search-query');
  if (inputBox !== null) {
    var searchQuery = param("q");
    if (searchQuery) {
      inputBox.value = searchQuery || "";
      executeSearch(searchQuery, false);
    } else {
      document.getElementById('search-results').innerHTML = '<p class="py-5 text-xl text-red-500">{{ i18n "keywordmissing" }}</p>';
    }
  }

  function executeSearch(searchQuery) {

    show(document.querySelector('.search-loading'));

    fetch('/{{ .Lang }}/index.json').then(function (response) {
      if (response.status !== 200) {
        console.log('Looks like there was a problem. Status Code: ' + response.status);
        return;
      }
      // Examine the text in the response
      response.json().then(function (pages) {
        var fuse = new Fuse(pages, fuseOptions);
        var result = fuse.search(searchQuery);
        if (result.length > 0) {
          populateResults(result);
        } else {
          document.getElementById('search-results').innerHTML = '<p class=\"py-5 text-xl text-red-500\">{{ i18n "nomatch" }}</p>';
        }
        hide(document.querySelector('.search-loading'));
      })
        .catch(function (err) {
          console.log('Fetch Error :-S', err);
        });
    });
  }

  function populateResults(results) {

    var searchQuery = document.getElementById("search-query").value;
    var searchResults = document.getElementById("search-results");

    // pull template from hugo template definition
    var templateDefinition = document.getElementById("search-result-template").innerHTML;

    results.forEach(function (value, key) {

      var contents = value.item.contents;
      var snippet = "";
      var snippetHighlights = [];

      snippetHighlights.push(searchQuery);
      snippet = contents.substring(0, summaryInclude * 2) + '&hellip;';

      //replace values
      var tags = ""
      if (value.item.tags) {
        value.item.tags.forEach(function (element) {
          tags = tags + "<a href='/tags/" + element + "'>" + "#" + element + "</a> "
        });
      }

      var output = render(templateDefinition, {
        key: key,
        title: value.item.title,
        content: value.item.contents,
        link: value.item.permalink,
      });
      searchResults.innerHTML += output;

      snippetHighlights.forEach(function (snipvalue, snipkey) {
        var instance = new Mark(document.getElementById('summary-' + key));
        instance.mark(snipvalue);
      });

    });
  }

  function render(templateString, data) {
    var conditionalMatches, conditionalPattern, copy;
    conditionalPattern = /\$\{\s*isset ([a-zA-Z]*) \s*\}(.*)\$\{\s*end\s*}/g;
    //since loop below depends on re.lastInxdex, we use a copy to capture any manipulations whilst inside the loop
    copy = templateString;
    while ((conditionalMatches = conditionalPattern.exec(templateString)) !== null) {
      if (data[conditionalMatches[1]]) {
        //valid key, remove conditionals, leave contents.
        copy = copy.replace(conditionalMatches[0], conditionalMatches[2]);
      } else {
        //not valid, remove entire section
        copy = copy.replace(conditionalMatches[0], '');
      }
    }
    templateString = copy;
    //now any conditionals removed we can do simple substitution
    var key, find, re;
    for (key in data) {
      find = '\\$\\{\\s*' + key + '\\s*\\}';
      re = new RegExp(find, 'g');
      templateString = templateString.replace(re, data[key]);
    }
    return templateString;
  }

  // Helper Functions
  function show(elem) {
    elem.style.display = 'block';
  }
  function hide(elem) {
    elem.style.display = 'none';
  }
  function param(name) {
    return decodeURIComponent((location.search.split(name + '=')[1] || '').split('&')[0]).replace(/\+/g, ' ');
  }

</script>

{{ end }}