<script src="{{ "js/vendor/modernizr-3.6.0.min.js" | relURL }}"></script>
<script src="{{ "js/vendor/jquery-3.6.0.min.js" | relURL }}"></script>
<script>window.jQuery || document.write('<script src="{{ "js/vendor/jquery-3.6.0.min.js" | relURL }}"><\/script>')</script>
<script src="{{ "js/plugins.js" | relURL }}"></script>
<script src="{{ "js/main.js" | relURL }}"></script>  

<script src="{{ "js/vendor/highlight.min.js" | relURL }}"></script>  
<script>hljs.initHighlightingOnLoad();</script>
<script src="{{ "js/cookie.js" | relURL }}"></script>
