<header class="flex flex-col w-full items-center justify-center text-white py-1 lg:py-8">
    <div class="w-full">
        <div class="flex flex-1 flex-row justify-between">
            <h2 class="w-full text-center text-3xl sm:text-5xl font-crimson font-medium lg:font-bold tracking-tight text-gray-300">
                <a href="{{ site.BaseURL }}">{{ i18n "sitename" }}</a>
            </h2>
        </div>
        <p
            class="w-full text-center pl-1 pb-4 sm:pt-3 sm:pb-0 font-crimson font-normal text-xl sm:text-2xl leading-8 text-gray-500">
            {{ i18n "siteslogan" }}</p>
    </div>

    <div class="relative w-full lg:w-1/2 h-12 my-1 lg:my-5">
        <form action="/{{.Lang}}/search" method="get">
            <input
                class="bg-gray-800 placeholder:italic placeholder:text-gray-600 w-full h-12 rounded-full mt-1 pl-5 pr-5 border border-gray-800 text-gray-100"
                placeholder='{{ i18n "searchplaceholder" }}' type="text" name="q" id="search-query" />

            <button
                class="absolute inset-y-2 right-1 w-28 h-10 font-light bg-gray-900 hover:bg-red-500 text-gray-500 hover:text-gray-100 rounded-full cursor-pointer"
                type="submit">{{ i18n "search" }}</button>
        </form>
    </div>

    {{ if not .IsHome }}
    <div class="w-full flex flex-row justify-start text-gray-500 text-lg px-1 border-l-4 border-l-red-500">
        <ul class="flex flex-row gap-x-2">
            <li class="">
                <a href="/" class="hover:text-gray-100">{{ i18n "home" }}</a>
            </li>
            {{ if or (eq .Kind "taxonomy") (eq .Kind "term") (eq .Kind "section") (.IsPage) }}
            <li>
                &gt;&nbsp;&nbsp;<a href="{{ .Page.RelPermalink }}" class="hover:text-gray-100">{{ .Page.Name }}</a>
            </li>
            {{ end }}
        </ul>
    </div>
    <div class="w-full h-2 border-b border-b-gray-600/50 border-dashed font-light text-gray-300">
    </div>
    {{ end }}

</header>