<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {{ partial "title.html" . }}
    <meta name="keywords" content="{{ .Params.keywords }}">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{.Site.BaseURL | relLangURL}}css/highlight.min.css">
    <link rel="stylesheet" href="{{.Site.BaseURL | relLangURL}}css/normalize.css">
    <link rel="stylesheet" href="{{.Site.BaseURL | relLangURL}}css/main.css">
    <link rel="stylesheet" href="{{.Site.BaseURL | relLangURL}}css/diello.css">
    {{ if .Site.Params.google_ad_client }}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "{{ .Site.Params.google_ad_client }}",
            enable_page_level_ads: true
        });
    </script>
    {{ end }}
</head>
