<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1">
    {{ partial "title.html" . }}
    {{ if eq .IsHome true }}
    <meta name="keywords" content="{{- .Site.Params.keywords -}}">
    <meta name="description" content="{{- .Site.Params.description -}}">
    {{ else }}
    <meta name="keywords" content="{{ with .Keywords }} {{- delimit . ", " -}} {{ end }}">
    <meta name="description" content="{{ with .Description }} {{- . -}} {{ end }}">
    {{ end }}
    <link rel="stylesheet" href="{{.Site.BaseURL | relLangURL}}css/highlight.min.css">
    <link rel="stylesheet" href="{{.Site.BaseURL | relLangURL}}css/normalize.css">
    <link rel="stylesheet" href="{{.Site.BaseURL | relLangURL}}css/diello.css">
    <link rel="stylesheet" href="{{.Site.BaseURL | relLangURL}}css/main.css">
    {{ if .Site.Params.google_ad_client }}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "{{ .Site.Params.google_ad_client }}",
            enable_page_level_ads: true
        });
    </script>
    {{ end }}
</head>
