<div class="navigation">
    {{ if .Site.Menus.niello }}
        {{ $inNav := 0 }}
        {{ $currentPage := .RelPermalink }}
        {{ range sort .Site.Menus.niello "Weight" "asc" }}
        <a href="{{ .URL }}" class="{{ if eq $currentPage .URL }} {{ $inNav = 1 }}current{{ end}}">{{ .Name }}</a>
        {{ end }}
        {{ if eq $inNav 0 }}
        <a href="javascript:void(0);" class="current">ARTICLE</a>
        {{ end }}
    {{ else if eq .IsHome true }}
    <a href="/" class="current">HOME</a>
    {{ else }}
    <a href="/" class="">HOME</a>
    <a href="javascript:void(0);" class="current">ARTICLE</a>
    {{ end }}
</div>
