{{ define "main" }}

<!-- Content -->
{{ $page := 10 }}
{{ if eq .Kind "taxonomy" }}
{{ $page = 20 }}
{{ end }}

{{ $kind := .Kind }}

<div class="{{ if eq $kind "taxonomy" }}list-container-rows{{ else }}list-container{{ end }}">
    {{ range $index, $element := (.Paginator $page).Pages }}

    {{ if eq $kind "taxonomy" }}
    <!-- Taxonomy (list of terms) preview -->
    {{ partial "masonry.html" (dict "context" $element "index" $index) }}
    {{ else }}
    <!-- Article preview for a single term -->
    {{ partial "preview.html" (dict "context" $element "index" $index) }}
    {{ end }}

    {{ end }}
    <!-- More posts... -->
</div>

<!-- Paginator -->
{{ partial "pagination.html" . }}

{{ end }}